:root {
  --black: #000;
  --white: #fff;
}

/* Universal */
* {
  box-sizing: border-box;
}

body {
  background-color: #FFEBCD;
  font-family: 'Kaisei HarunoUmi', Times, Serif;
  font-variant: small-caps;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

header {
  display: flex;
  align-items: center;
  padding: 1%;
  font-size: 3em;
}

.title {
  justify-content: center;
  margin-top: 1em;
}

.links {
  line-height: 70px;
}

.links a {
  text-decoration: none;
  color: var(--black);
  border-bottom: 4px solid var(--black);
}
  
.links a:hover {
  background-color: var(--black);
  color: var(--white);
  transition: .5s ease-in-out;
}

.navigation {
  font-size: 3em;
  justify-content: center;
  text-align: center;
}

#main-project {
 flex: 1 0 0;
 flex-shrink: 1;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 position: relative;
 text-align: center;
 overflow: hidden;
 flex: 90%;
}

.project-card {
  flex: 1 0 0;
  flex-shrink: 2;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  text-align: center;
  overflow: hidden;
  flex: 33%;
}

#main-project img,
.project-card img {
  width: 100%;
  opacity: 0.7;
  width: 100%;
  height: auto;
}

.project-card a,
#main-project a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--black);
  font-size: 5vw;
  z-index: 1;
}

.flex {
  flex: auto;
}

#about-me {
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

h2,
h3 {
  font-size: 2.5em;
}

p {
  font-size: 2em;
}

#contact {
  justify-content: center;
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  justify-content: center;
  text-align: center;
  font-size: 2em;
}